@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #0a1128;
  font-family: 'Slabo 27px', serif;
  color: white;
}

img {
  width: 100%;
}
a {
  text-decoration: none;
  color: initial;
}
